<!DOCTYPE html>
<html>
<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container" id="page">
    <div class="row">
      <div id="page" class="span12">{{items}}</div>
    </div>
  </div>
</body>
<script src="/jquery.min.js"></script>
<script src="/bundle.js"></script>
</html>
