<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/mfglabs-icons/css/mfglabs_iconset.css" rel="stylesheet">
  <style>
    #text textarea {
      width: 100%;
    }
  </style>
  <script type="text/javascript">
    var title = "{{title}}"
  </script>
</head>
<body>
  <div class="container" id="page">
    <div class="row">
      <div class="buttons span3 offset9">
        <div class="button" id="markdown-button">
          <i class="icon-eye icon2x"></i>
        </div>
        <div class="button" id="split-button">
          <i class="icon-letter icon2x"></i>
        </div>
        <div class="button" id="text-button">
          <i class="icon-vector_pen icon2x"></i>
        </div>

      </div>
    </div>
    <div class="row">
      <div id="text-wrapper" class="span6">
        <div id="text"></div>
      </div>
      <div id="markdown-wrapper" class="span6">
        <div id="markdown" ></div>
      </div>
    </div>
  </div>
</body>
<script src="/jquery.min.js"></script>
<script src="/bundle.js"></script>
</html>
