<!DOCTYPE html>
<html>
<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <style>
    #text textarea {
      width: 100%;
    }
  </style>
  <script type="text/javascript">
    var title = "{{title}}"
  </script>
</head>
<body>
  <div class="container" id="page">
    <div class="row">
      <div id="text-wrapper" class="span6">
        <div id="text"></div>
      </div>
      <div id="markdown-wrapper" class="span6">
        <div id="markdown" ></div>
      </div>
    </div>
  </div>
</body>
<script src="/jquery.min.js"></script>
<script src="/bundle.js"></script>
</html>
